.product {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    padding: 50px;
    margin-top: 5%;
    z-index: 50;
}

.product>img {
    width: 48%;
    height: 450px;
    object-fit: contain;
}

.product-info {
    width: 48%;
}

.product-info>.name {
    font-size: 30px;
}

.product-info>.price {
    font-size: 25px;
}

.product-info>.desc {
    padding-top: 30px;
    letter-spacing: 0.006rem;
    padding-bottom: 30px;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
}

.product-btn {
    display: flex;
    font-size: 22px;
    flex-direction: column;
}

.product-btn>button {
    height: 60px;
    width: 65%;
    font-size: 25px;
}

.add-cart {
    background-color: #f8b0b3;
    color: rgb(216, 23, 23);
}

.purchase {
    margin-top: 25px;
    color: white;
    background: rgb(216, 23, 23);
}

.purchase:hover {
    border: solid 1px rgb(216, 23, 23);
    color: rgb(216, 23, 23);
    opacity: 1;
}

.add-cart:hover {
    border: solid 1px #f8b0b3;
    color: rgb(216, 23, 23);
    opacity: 1;
}

@media (max-width: 700px) {
    .product {
        flex-direction: column;
        padding: 30px;
        align-items: left;
    }
    .product>img {
        width: 90%;
        height: auto;
        object-fit: cover;
    }
    .product-info {
        width: 100%;
    }
    .product-info>.name {
        font-size: 27px;
    }
    .product-info>.price {
        font-size: 23px;
    }
    .product-info>.desc {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
    }
    .product-btn>button {
        font-size: 20px;
        height: 45px;
        width: 100%;
    }
}